$sidebar-width: 20%;

.wrapper {
    width: 100%;
    margin: auto;
    #content-page {
        margin-left: $sidebar-width + 1;
    }

    .SideBar {
        width: $sidebar-width;
    }

    .NavBar {
        padding: 20px;
    }

    :link {
        text-decoration: none;
    }

    .SideBarItem {
        line-height: 50px;
        padding: 20px;
        padding-left: 30px;
        font-size: 20px;
        color: gray;

        &:hover {
            background-color: #2d3238;
        }

        .font-icon {
            font-size: 35px;
            vertical-align: middle;
            color: gray;
        }

        b {
            color: gray;
        }
    }
}
