$active-tag: rgb(53, 206, 53);
$active-content: rgba(191, 247, 209, 0.925);
$busy-tag: rgb(68, 53, 206);
$busy-content: rgba(191, 217, 247, 0.925);
$dirty-tag: #000;
$dirty-content: rgb(209, 209, 209);
$room-selector-tag-width: 25%;

.dashboard {
    box-sizing: border-box;
    padding: 20px;
    background-color: #efeff6;

    .room-selector {
        box-sizing: border-box;
        height: 100px;
        font-weight: bolder;
        display: flex;
        margin: 0;
        padding: 5px;
        border-radius: 10px;

        .room-selector-tag {
            cursor: pointer;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            background-color: $active-tag;
            color: white;
            width: $room-selector-tag-width;
            height: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
            flex-direction: column;
        }

        .room-selector-content {
            cursor: pointer;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            background-color: $active-content;
            width: 100 - $room-selector-tag-width;
            height: 100%;
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            align-items: center;
            flex-direction: column;
            font-size: small;
            font-weight: bold;
            color: $active-tag;

            .time {
                width: 100%;
                display: flex;
                justify-content: space-around;
                flex-wrap: wrap;
            }
        }
    }
}

.popup-content {
    margin: auto;
    background: rgb(255, 255, 255);
    width: 80%;
    padding: 5px;
}

.popup-arrow {
    color: rgb(255, 255, 255);
}
[role="tooltip"].popup-content {
    width: 200px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
}

.popup-overlay {
    background: rgba(0, 0, 0, 0.5);
}
[data-popup="tooltip"].popup-overlay {
    background: transparent;
}
