.navbar {
    width: calc(100vw - 267px);
    background-color: #373a40;
    color: white;
    box-sizing: border-box;
}

.navbar .navbar-title {
    color: white;
    font-size: 1.6rem;
}

.navbar .navbar-title:hover {
    color: white;
}

.narbar .narbar-brand:focus {
    color: white !important;
}